.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--first-blue-blur);
    /* padding: 0.5rem 5rem; */
    min-width: 100%;
    backdrop-filter: blur(12px);
    padding: 0.1rem 14rem; 
    transition: all 0.3s;
  
   

    position: fixed;
    backdrop-filter: blur(12px);



   
}

.sidebar{
    display: none;
}


.containerLinks{
    display: flex;
    align-items: center;
    gap: 50px;
}


.links > ul{
   
    display: flex;
    gap: 2rem;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s;
    cursor: pointer;

    text-decoration: none !important;
    list-style-type: none !important;
   
}

.links > ul> li> a{
    list-style-type: none !important;
   text-decoration: none !important;
    color: var(--gray-200);
}



.links > ul> li> a::after{
    content: "";
    display: block;
    border-bottom: solid 3px var(--pink);
    transform: scaleX(0);
    transform-origin: 10%;
    transition: transform 1s cubic-bezier( .1, 1, .69, 1);
}


.links > ul> li> a:focus::after{
    transform: scaleX(1);
    transform-origin: -100%;
    transition: transform 1s cubic-bezier(.69, 1);
}


.menuIcon{
    display: none;
}

.btnDownload,  .btnDownload > a{
    list-style-type: none !important;
    text-decoration: none !important;
    background-color: var(--pink);
    border-radius: 10px;
    border: none !important;
    padding: 10px 30px;
    color: var(--default);
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnDownload:hover{
    transition: all 0.3s;
    -webkit-box-shadow: 0px 2px 35px var(--gray-500);
    -moz-box-shadow: 0px 2px 35px var(--gray-500);
    box-shadow: 0px 2px 35px var(--gray-500);
    /* border: 1px solid var(--gray-400); */
}


@media (max-width: 1025px) {
    .sidebar{
        display: block;
    }

    .container{
        width: 100%;
        border-bottom: 1px solid var(--gray-800);    
        padding: 5px 15px;   
       
    }

    .menuIcon{
        display: block;

        cursor: pointer;
    }

    .links > ul> li> a{
        display: none;
    }

    .btnDownload{
        display: none;
    }
}