.container {
  color: var(--default);
  margin-top: 5rem;
  
  background-color: var(--gray-900);
  padding: 2rem 14rem;
}

.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.sectionText > p {
  margin-top: 2rem;
  width: 900px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
}

.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.aboutMe > p {
  background-color: var(--pink);
  padding: 5px 15px;
  margin-top: 4rem;
  border-radius: 10px;
  font-weight: 700;
  color: var( --gray-200);
}

.photoAbout{
  width:37.5rem;
  height: 41.625rem;
  border-radius: 5%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1025px) {
  .container {
    width: 100%;
    padding: 15px 15px;
  }

  .photoAbout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

  }

  .section {
    flex-direction: column;
  }

  .sectionText > h1 {
    font-size: 25px;
    text-align: center;
  }

  .sectionText > p {
    width: 100%;
  }

  .aboutMe > p {
    padding: 5px 12px;
  }
}
