.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 28rem;
  background-color: var(--gray-950);
  color: var(--default);
  margin-bottom: 3rem;
}

.headerContact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.headerContact > p {
  background-color: var(--pink);
  padding: 5px 40px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--gray-200);
}

.headerContact > h3 {
  font-weight: normal;
  font-size: 22px;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
}

.Itenscontacts {
  display: flex;
  gap: 12px;
}

.socialLinks > P {
  margin-top: 2rem;
  font-size: 20px;
  color: var(--gray-300);
}

.iconsHero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

@media (max-width: 1025px) {
  .container {
    width: 100%;
    padding: 1rem 0.6rem;
  }

  .headerContact > h3 {
    text-align: center;
    font-size: 19px;
  }

  .contacts {
    font-size: 20px;
  }

  .socialLinks > P {

    text-align: center;
  }
  
}
